SHOPIFY_STORE=tru-ambiente-de-pruebas.myshopify.com
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2025-01
SHOPIFY_LOCATION_ID=

STOCK_SOURCE=odoo
STOCK_DEFAULT_WHEN_MISSING=0

ODOO_URL=http://serverodoo.grupooba.co:8069
ODOO_DB=geobamain15450421
ODOO_USERNAME=
ODOO_API_KEY=
ODOO_WAREHOUSE_NAME="COMERTEX BUCARAMANGA # 1"

MELI_SITE_ID=MCO
MELI_APP_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=https://localhost/callback
MELI_ACCESS_TOKEN=
MELI_REFRESH_TOKEN=
MELI_USER_ID=
MELI_AUTH_BASE_URL=
MELI_DEFAULT_CATEGORY_ID=MCO116389
MELI_LISTING_TYPE_ID=gold_special
MELI_DEFAULT_IMAGE_URL=

PRICE_MARKUP_PERCENT=14
MIN_PRICE=2900
DEFAULT_QUANTITY=1
SYNC_INTERVAL_MINUTES=5
CURRENCY_ID=COP
REQUEST_TIMEOUT_MS=30000
REQUEST_DELAY_MS=350
MELI_AUTO_ACTIVATE_PAUSED=true
MELI_UPDATE_TITLE=false
MAX_PRODUCTS_PER_RUN=0
